<html>
    <head>
        <title>aboutUs</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <p>This website was created by Charit. It uses Mapbox API and openWeather API for fetch information.</p>
        <img class="image" src="/img/pic1.png">
        </div>
        {{>footer}}
    </body>
</html>